/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

/* COMMON STYLES or UTILITIES */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding:30px;
}
.section-heading{
    color: #562EFF;
}


/* FIRST SECTION (Players & Blog) */
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.top-players img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
}
.player{
    display: flex;
    align-items: center;
}